# Anac flight delay prediction

## Data Understand

In [15]:
import pandas as pd
import requests
from urllib.parse import quote

BASE_URL = (
    "https://sistemas.anac.gov.br/dadosabertos/"
    "Voos%20e%20opera%C3%A7%C3%B5es%20a%C3%A9reas/"
    "Voo%20Regular%20Ativo%20%28VRA%29/"
)

MONTHS = {
    1: "Janeiro",
    2: "Fevereiro",
    3: "Março",
    4: "Abril",
    5: "Maio",
    6: "Junho",
    7: "Julho",
    8: "Agosto",
    9: "Setembro",
    10: "Outubro",
    11: "Novembro",
    12: "Dezembro",
}

YEARS = [2018]

dfs = []

def file_exists(url):
    try:
        r = requests.head(url, timeout=10)
        return r.status_code == 200
    except requests.RequestException:
        return False

for year in YEARS:
    for month_num, month_name in MONTHS.items():

        folder = f"{month_num:02d} - {month_name}"
        filename = f"VRA_{year}{month_num}.csv"

        url = f"{BASE_URL}{year}/{quote(folder)}/{filename}"

        if not file_exists(url):
            print(f"❌ Missing: {year}-{month_num:02d}")
            continue

        print(f"✔️ Downloading {year}-{month_num:02d}")

        df = pd.read_csv(
            url,
            sep=";",
            encoding="utf-8",
            skiprows=1,
            low_memory=False
        )

        df["year"] = year
        df["month"] = month_num

        dfs.append(df)

# =========================
# FINAL MERGE
# =========================

df_final = pd.concat(dfs, ignore_index=True)
print("✅ All available VRA data merged")
print(df_final.shape)

✔️ Downloading 2018-01
✔️ Downloading 2018-02
✔️ Downloading 2018-03
✔️ Downloading 2018-04
✔️ Downloading 2018-05
✔️ Downloading 2018-06
✔️ Downloading 2018-07
✔️ Downloading 2018-08
✔️ Downloading 2018-09
✔️ Downloading 2018-10
✔️ Downloading 2018-11
✔️ Downloading 2018-12
✅ All available VRA data merged
(1035169, 14)

In [16]:
df_final

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo,Código Justificativa,year,month
0,AFR,454,0,I,LFPG,SBGR,01/01/2018 20:20,NaN,02/01/2018 08:20,NaN,REALIZADO,NaN,2018,1
1,ARG,1248,0,I,SABE,SBGR,01/01/2018 19:30,NaN,01/01/2018 23:15,NaN,REALIZADO,NaN,2018,1
2,ARG,1251,1,I,SBGL,SABE,NaN,01/01/2018 19:53,NaN,01/01/2018 22:10,REALIZADO,NaN,2018,1
3,ARG,1254,1,I,SABE,SBGL,NaN,01/01/2018 11:02,NaN,01/01/2018 14:29,REALIZADO,NaN,2018,1
4,ARG,1278,0,I,SABE,SBFL,01/01/2018 17:55,NaN,01/01/2018 21:05,NaN,REALIZADO,NaN,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035164,AZU,4040,0,N,SBCF,SBBR,31/12/2018 07:45,31/12/2018 08:07,31/12/2018 09:10,31/12/2018 09:26,REALIZADO,NaN,2018,12
1035165,AZU,4034,0,N,SBVT,SBKP,31/12/2018 20:20,31/12/2018 20:20,31/12/2018 22:00,31/12/2018 22:00,REALIZADO,NaN,2018,12
1035166,AZU,4033,0,N,SBRJ,SBKP,31/12/2018 16:35,31/12/2018 16:29,31/12/2018 17:45,31/12/2018 17:28,REALIZADO,NaN,2018,12
1035167,AZU,4029,0,N,SBRJ,SBKP,31/12/2018 07:55,31/12/2018 07:46,31/12/2018 09:05,31/12/2018 08:49,REALIZADO,NaN,2018,12
1035168,AZU,2972,0,N,SBCT,SBFI,31/12/2018 12:00,31/12/2018 11:54,31/12/2018 13:15,31/12/2018 13:04,REALIZADO,NaN,2018,12

In [17]:
df_final['year'].unique()

array([2018])

In [73]:
anac_df = df_final.copy()

In [74]:
anac_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035169 entries, 0 to 1035168
Data columns (total 14 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   ICAO Empresa Aérea       1035169 non-null  object
 1   Número Voo               1035169 non-null  object
 2   Código Autorização (DI)  1035045 non-null  object
 3   Código Tipo Linha        1034579 non-null  object
 4   ICAO Aeródromo Origem    1035169 non-null  object
 5   ICAO Aeródromo Destino   1035169 non-null  object
 6   Partida Prevista         1023143 non-null  object
 7   Partida Real             881971 non-null   object
 8   Chegada Prevista         1023143 non-null  object
 9   Chegada Real             881976 non-null   object
 10  Situação Voo             1035169 non-null  object
 11  Código Justificativa     267992 non-null   object
 12  year                     1035169 non-null  int64
 13  month                    1035169 non-null  int64
dtypes: int64(2), object(12)
memory usage: 110.6+ MB

In [20]:
df_final.columns.to_list()

['ICAO Empresa Aérea',
 'Número Voo',
 'Código Autorização (DI)',
 'Código Tipo Linha',
 'ICAO Aeródromo Origem',
 'ICAO Aeródromo Destino',
 'Partida Prevista',
 'Partida Real',
 'Chegada Prevista',
 'Chegada Real',
 'Situação Voo',
 'Código Justificativa',
 'year',
 'month']

In [21]:
anac_df.isna().sum()

ICAO Empresa Aérea              0
Número Voo                      0
Código Autorização (DI)       124
Código Tipo Linha             590
ICAO Aeródromo Origem           0
ICAO Aeródromo Destino          0
Partida Prevista            12026
Partida Real               153198
Chegada Prevista            12026
Chegada Real               153193
Situação Voo                    0
Código Justificativa       767177
year                            0
month                           0
dtype: int64

##Data Preparation

In [85]:
anac_df.isna().sum()

ICAO Empresa Aérea             0
Número Voo                     0
ICAO Aeródromo Origem          0
ICAO Aeródromo Destino         0
Partida Prevista           11986
Partida Real              114397
Situação Voo                   0
year                           0
month                          0
dtype: int64

In [82]:
anac_df = anac_df.drop(columns=[
    'Código Autorização (DI)',
    'Código Tipo Linha',
    'Chegada Prevista',
    'Chegada Real',
    'Código Justificativa'
])

KeyError: "['Código Autorização (DI)', 'Código Tipo Linha', 'Chegada Prevista', 'Chegada Real', 'Código Justificativa'] not found in axis"

In [83]:
anac_df = anac_df[anac_df['Situação Voo']=='REALIZADO']

In [84]:
anac_df

,ICAO Empresa Aérea,Número Voo,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Situação Voo,year,month
0,AFR,454,LFPG,SBGR,01/01/2018 20:20,NaN,REALIZADO,2018,1
1,ARG,1248,SABE,SBGR,01/01/2018 19:30,NaN,REALIZADO,2018,1
2,ARG,1251,SBGL,SABE,NaN,01/01/2018 19:53,REALIZADO,2018,1
3,ARG,1254,SABE,SBGL,NaN,01/01/2018 11:02,REALIZADO,2018,1
4,ARG,1278,SABE,SBFL,01/01/2018 17:55,NaN,REALIZADO,2018,1
...,...,...,...,...,...,...,...,...,...
1035164,AZU,4040,SBCF,SBBR,31/12/2018 07:45,31/12/2018 08:07,REALIZADO,2018,12
1035165,AZU,4034,SBVT,SBKP,31/12/2018 20:20,31/12/2018 20:20,REALIZADO,2018,12
1035166,AZU,4033,SBRJ,SBKP,31/12/2018 16:35,31/12/2018 16:29,REALIZADO,2018,12
1035167,AZU,4029,SBRJ,SBKP,31/12/2018 07:55,31/12/2018 07:46,REALIZADO,2018,12
1035168,AZU,2972,SBCT,SBFI,31/12/2018 12:00,31/12/2018 11:54,REALIZADO,2018,12

In [86]:
anac_df.dropna()

,ICAO Empresa Aérea,Número Voo,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Situação Voo,year,month
7,AVA,85,SKBO,SBGR,01/01/2018 01:04,01/01/2018 01:06,REALIZADO,2018,1
11,AZU,2404,SBRF,SBMO,01/01/2018 13:50,01/01/2018 13:44,REALIZADO,2018,1
13,AZU,2428,SBCF,SBBR,01/01/2018 17:30,01/01/2018 17:25,REALIZADO,2018,1
17,AZU,2537,SBCF,SBPA,01/01/2018 21:35,01/01/2018 21:52,REALIZADO,2018,1
19,AZU,2596,SBCY,SBPV,01/01/2018 12:15,01/01/2018 11:59,REALIZADO,2018,1
...,...,...,...,...,...,...,...,...,...
1035164,AZU,4040,SBCF,SBBR,31/12/2018 07:45,31/12/2018 08:07,REALIZADO,2018,12
1035165,AZU,4034,SBVT,SBKP,31/12/2018 20:20,31/12/2018 20:20,REALIZADO,2018,12
1035166,AZU,4033,SBRJ,SBKP,31/12/2018 16:35,31/12/2018 16:29,REALIZADO,2018,12
1035167,AZU,4029,SBRJ,SBKP,31/12/2018 07:55,31/12/2018 07:46,REALIZADO,2018,12
1035168,AZU,2972,SBCT,SBFI,31/12/2018 12:00,31/12/2018 11:54,REALIZADO,2018,12